body{
    background-color: aquamarine;
}

.estilo{
    display: flex;
    justify-content: center;
    margin-top: 13%;
    max-width: 100%;
    max-height: 80vh;
    overflow: hidden;
  
  }
  
  .agregartareas{
      list-style: none;
      display: block;
      justify-content: center;
      overflow-y: auto;
      flex: 1;
  }
  
  .titulo{
      display: flex;
      justify-content: center;
      font-size: xx-large;
  }
  
  
  .addtask{
      display: flex;
      justify-content: center;
      background-color:#da8aee;
  }
  
  .trash{
      margin-bottom: 5px;
      margin-left: 1rem;
  }
  
  .card {
      max-height: 100%;
  }

  input{
    border-color: aquamarine;
    flex: 1;
}